[DISCORD]
discord_bot_token=secret token

REPORTING_CHANNEL=channel for reports
FLAIRY_CHANNEL=channel for flair requests
USER_INVESTIGATION_CHANNELS=channel where messages are enhanced with user investigations

[REDDIT_CREDENTIALS]
reddit_client_id=main reddit client id
reddit_client_secret=main reddit client secret
reddit_username=main reddit username
reddit_password=main reddit password

[FLAIRY_CREDENTIALS]
flairy_client_id=flairy reddit client id
flairy_client_secret=flairy reddit client secret
flairy_username=flairy reddit username
flairy_password=flairy reddit password
