[Unit]
Description=The Superstonk Moderation Bot
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/root/superstonkDiscordModerationBot
ExecStart=/usr/bin/make

[Install]
WantedBy=multi-user.target
