[Unit]
Description=The Superstonk Moderation Bot
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/superstonkDiscordModerationBot
ExecStart=/usr/bin/make run config=/etc/superstonkModerationBot.conf

[Install]
WantedBy=multi-user.target
