name: test, deploy and run
on:
# run with every push
  push:
# run if manually triggered
  workflow_dispatch:
# deploy on a recurring schedule to avoid OOM problems
#  schedule:
#    - cron: '15 */6 * * *'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1.0.0
      - run: make test
#  deploy-nonlive:
#    runs-on: ubuntu-latest
#    needs: test
#    environment: nonlive
#    steps:
#    - name: Deploy to nonlive server via ssh
#      uses: appleboy/ssh-action@master
#      with:
#        host: ${{ secrets.HOST }}
#        username: ${{ secrets.USERNAME }}
#        key: ${{ secrets.SSH_KEY }}
#        script: |
#          systemctl --user restart superstonkModerationBot.service
#          echo "That's all folks"
  deploy-live:
    runs-on: ubuntu-latest
    needs: deploy-nonlive
    environment: live
    steps:
    - name: Deploy to live server via ssh
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          systemctl --user restart superstonkModerationBot.service
          echo "That's all folks"
